{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <header class="masthead" id="dokiz">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center ">
                <img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid" alt=""
                     style="width:60%;">
                <h1>Réinitialisation du mot de passe</h1>
                <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
                <form method="post">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
                    <input type="hidden" name="token" value="{{ token }}">
                    <button type="submit" id="valider">
                        Valider le mot de passe
                    </button>
                </form>
            </div>
        </div>
    </header>

{% endblock %}
