<form method="post" action="{{ path('admin_car_delete', {'id': car.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette voiture ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button class="btn btn-danger pull-right">Supprimer</button>
</form>
