{% extends 'base.html.twig' %}

{% block title %}New Society{% endblock %}

{% block body %}
    <h1>Create new Society</h1>

    {{ include('admin/society/_form.html.twig') }}

    <a href="{{ path('admin_society_index') }}">back to list</a>
{% endblock %}
