<form method="post" action="{{ path('admin_job_delete', {'id': job.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce métier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
    <button class="btn btn-danger pull-right">Supprimer</button>
</form>
