{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <header class="masthead backWhite" id="dokiz">
        <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
            {{ include("navigation/navReservation.html.twig") }}
            <div class="row mx-auto" style="margin-top: 40px" >
                <h1 class="titleReservation ">Editer la réservation</h1>
            </div>
            <hr>
            <div class="row">
                <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ include('reservation/_form_edit.html.twig', {'button_label': 'Modifier'}) }}
                </div>
            </div>
            <a href="{{ path('reservation_index') }}">Retour à la liste des réservations</a>
        </div>
    </header>

{% endblock %}
