{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<header class="masthead backWhite" id="dokiz">
    <div class="container h-100 align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
    {{ include("navigation/navReservation.html.twig") }}
        <div class="row mx-auto" style="margin-top: 40px" >
            <h1 class="titleReservation">Créer une nouvelle réservation</h1>
        </div>
        <hr>
    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">Retour à la liste des réservations</a>
    </div>
</header>
{% endblock %}
