{% extends 'base.html.twig' %}

{% block javascripts %}
    <script>
        let lon1 = 0;
        let lat1 = 0;
        let lon2 = 0;
        let lat2 = 0;

        function initMap() {
            var mymap = L.map('mapid').setView([47.2305, -1.33], 10);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiZ2VvZmZyYXkiLCJhIjoiY2thZTBrMDVtMDl0ZzJ5bnZxZjk3eXNoYiJ9.2cdRl4dFI2m39Yv8mdhfNA'
            }).addTo(mymap);

            return mymap;
        }



        // function addPoint(lon1, lat1, lon2, lat2) {
        //     mymap = initMap();
        //     if (lon1 !== 0 && lat1 !== 0) {
        //         var marker1 = L.marker([lat1, lon1]).addTo(mymap);
        //         if (lon2 !== 0 && lat2 !== 0) {
        //             var marker2 = L.marker([lat2, lon2]).addTo(mymap);
        //         }
        //     }
        // }

        $("#reservation_carRides_0_start_postal_code").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][0][start_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        var postcodes = [];
                        response($.map(data.features, function (item) {
                            // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                            if ($.inArray(item.properties.postcode, postcodes) == -1) {
                                postcodes.push(item.properties.postcode);
                                return { label: item.properties.postcode + " - " + item.properties.city,
                                    city: item.properties.city,
                                    value: item.properties.postcode
                                };
                            }
                        }));
                    }
                });
            },
            // On remplit aussi la ville
            select: function(event, ui) {
                $('#reservation_carRides_0_start_city').val(ui.item.city);
            }
        });
        $("#reservation_carRides_1_start_postal_code").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][1][start_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        var postcodes = [];
                        response($.map(data.features, function (item) {
                            // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                            if ($.inArray(item.properties.postcode, postcodes) == -1) {
                                postcodes.push(item.properties.postcode);
                                return { label: item.properties.postcode + " - " + item.properties.city,
                                    city: item.properties.city,
                                    value: item.properties.postcode
                                };
                            }
                        }));
                    }
                });
            },
            // On remplit aussi la ville
            select: function(event, ui) {
                $('#reservation_carRides_1_start_city').val(ui.item.city);
            }
        });

        $("#reservation_carRides_0_start_address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][0][start_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        response($.map(data.features, function (item) {
                            // addPoint(item.geometry.coordinates[0], item.geometry.coordinates[1], 0, 0);
                            return {
                                label: item.properties.name,
                                value: item.properties.name,
                            };
                        }));
                    }
                });
            }
        });
        $("#reservation_carRides_1_start_address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][1][start_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        response($.map(data.features, function (item) {
                            // addPoint(item.geometry.coordinates[0], item.geometry.coordinates[1], 0, 0);
                            return {
                                label: item.properties.name,
                                value: item.properties.name,
                            };
                        }));
                    }
                });
            }
        });

        $("#reservation_carRides_0_end_postal_code").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][0][end_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        var postcodes = [];
                        response($.map(data.features, function (item) {
                            // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                            if ($.inArray(item.properties.postcode, postcodes) == -1) {
                                postcodes.push(item.properties.postcode);
                                return { label: item.properties.postcode + " - " + item.properties.city,
                                    city: item.properties.city,
                                    value: item.properties.postcode
                                };
                            }
                        }));
                    }
                });
            },
            // On remplit aussi la ville
            select: function(event, ui) {
                $('#reservation_carRides_0_end_city').val(ui.item.city);
            }
        });
        $("#reservation_carRides_1_end_postal_code").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][1][end_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        var postcodes = [];
                        response($.map(data.features, function (item) {
                            // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                            if ($.inArray(item.properties.postcode, postcodes) == -1) {
                                postcodes.push(item.properties.postcode);
                                return { label: item.properties.postcode + " - " + item.properties.city,
                                    city: item.properties.city,
                                    value: item.properties.postcode
                                };
                            }
                        }));
                    }
                });
            },
            // On remplit aussi la ville
            select: function(event, ui) {
                $('#reservation_carRides_1_end_city').val(ui.item.city);
            }
        });

        $("#reservation_carRides_0_end_address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][0][end_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        response($.map(data.features, function (item) {
                            return { label: item.properties.name, value: item.properties.name};
                        }));
                    }
                });
            }
        });
        $("#reservation_carRides_1_end_address").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='reservation[carRides][1][end_postal_code]']").val(),
                    data: { q: request.term },
                    dataType: "json",
                    success: function (data) {
                        response($.map(data.features, function (item) {
                            return { label: item.properties.name, value: item.properties.name};
                        }));
                    }
                });
            }
        });

        function deg2rad(deg) {
            return deg * (Math.PI/180)
        }
    </script>
{% endblock %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
<header class="masthead backWhite" id="dokiz">
    <div class="container align-items-center boxShadow p-3 mb-5 bg-white rounded jumbotron">
    {{ include("navigation/navReservation.html.twig") }}
        <div class="row" style="margin-top: 40px" >
            <div class="col-md-9">
                <h1 class="titleReservation ">Nouvelle réservation</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12" style="height: 15em; display: none;" id="mapid"></div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ include('reservation/_form.html.twig') }}
            </div>
        </div>
    <a href="{{ path('reservation_index') }}">Retour à la liste des réservations</a>
    </div>
</header>
{% endblock %}


