{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
    {{ include("navigation/navReservation.html.twig") }}

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('reservation_index') }}">back to list</a>
    </div>
</header>
{% endblock %}
