{% extends 'base.html.twig' %}

{% block body %}
    <div class="section2">
        <div class="container">
            <div class="row">

                <div class="col-md-5 text-center" style="margin-top:40px; margin-bottom:40px">
                    <img src="https://i.imgur.com/lTKxj2n.png" class="rounded-circle" alt="Students" width="100%">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6" style="margin-top:40px; margin-bottom:40px">
                    <br>
                    <br>
                    <h1 class="white">Des étudiants avant tout</h1>
                    <hr class="borderBlue" style="width: 50%; margin-left: 0"/>
                    <p class="white">Nous sommes tous étudiants à l'ENI Ecole Informatique pour préparer
                        un diplôme de Manageur des Systèmes d'informations.
                        <br>
                        <br>
                        Chacun dans sa spécialisation, nous nous sommes réunies pour
                        développer des outils permettant de faciliter le quotidien de chacun
                        qu'il soit personnel ou professionnel</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section3">
        <div class="container">
            <div class="row" style="background-color: #F8F9FA; margin-left: 0; margin-right: 0">
                <div class="col-md-7" style="margin-top:40px; margin-bottom:40px">
                    <br>
                    <br>
                    <h1>Gérer votre flotte de véhicules</h1>
                    <hr class="borderBlue" style="width: 60%; margin-left: 0"/>
                    <p>Avec DOKIZ, la gestion de votre parc automobile n'aura jamais
                        été aussi simple.
                        <br>
                        <br>
                        Gérer vos clefs, vos trajets et vos véhicules d'un simple geste.
                        <br>
                        <br>
                        Un système de covoiturage vous permettra de fixer des
                        rendez-vous à vos collègues.</p>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4"
                     style="margin-top:40px; margin-bottom:40px; ">
                    <img src="https://i.imgur.com/qMu4Mm1.png" alt="Students" width="100%">
                </div>

            </div>
        </div>
    </div>
{% endblock %}
