{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="section2" id="about">
            <div class="container">
                <div class="row">

                    <div class="col-md-5 text-center marginTopBottom">
                        <img src="{{ asset('image/students.png') }}" class="rounded-circle" alt="Students" width="100%">
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6 marginTopBottom">
                        <br>
                        <br>
                        <h1 class="white">Des étudiants avant tout</h1>
                        <hr class="borderBlue" style="width: 50%; margin-left: 0"/>
                        <p class="white">Nous sommes tous étudiants à l'ENI Ecole Informatique pour préparer
                            un diplôme de Manageur des Systèmes d'informations.
                            <br>
                            <br>
                            Chacun dans sa spécialisation, nous nous sommes réunies pour
                            développer des outils permettant de faciliter le quotidien de chacun
                            qu'il soit personnel ou professionnel</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section3" id="project">
            <div class="container">
                <div class="row" style="background-color: #F8F9FA; margin-left: 0; margin-right: 0">
                    <div class="col-md-7 marginTopBottom">
                        <br>
                        <br>
                        <h1>Gérer votre flotte de véhicules</h1>
                        <hr class="borderBlue" style="width: 60%; margin-left: 0"/>
                        <p>Avec DOKIZ, la gestion de votre parc automobile n'aura jamais
                            été aussi simple.
                            <br>
                            <br>
                            Gérer vos clefs, vos trajets et vos véhicules d'un simple geste.
                            <br>
                            <br>
                            Un système de covoiturage vous permettra de fixer des
                            rendez-vous à vos collègues.</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4 marginTopBottom"
                    >
                        <img src="{{ asset('image/carPhone.png') }}" alt="Students" width="100%">
                    </div>

                </div>
            </div>
        </div>
        <div class="section4" id="contact" style="background-image: url({{ asset('image/socialNetwork.png') }})">
            <div class="container">
                <div class="row ">
                    <div class="col-md-1"></div>
                    <div class="col-md-4 marginTopBottom">
                        <div class="card borderBlue2">
                            <div class="card-body" style="text-align: center">
                                <h4 class="card-title">Email</h4>
                                <hr class="borderBlue" style="width: 50%;"/>
                                <p class="card-text">contact.dokiz@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 marginTopBottom">
                        <div class="card borderBlue2">
                            <div class="card-body" style="text-align: center">
                                <h4 class="card-title">Téléphone</h4>
                                <hr class="borderBlue" style="width: 50%;"/>
                                <p class="card-text">+33 06 28 28 28 28</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row ">
                    {#                <div class="col-md-3"></div>#}
                    <div class="col-md-12 marginTopBottom ">
                        <div class="row justify-content-center">

                            <a class="rounded-circle circleButtonSection4 mater " href="https://www.google.fr/"
                               target="_blank"><i class="fab fa-facebook-f align-middle fontBlue icon"></i></a>
                            <a class="rounded-circle circleButtonSection4 mater " href="https://www.google.fr/"
                               target="_blank"><i class="fab fa-twitter align-middle fontBlue icon"></i></a>

                            <a class="rounded-circle circleButtonSection4 mater " href="https://www.google.fr/"
                               target="_blank"><i class="fab fa-instagram align-middle fontBlue icon"></i></a>

                            <a class="rounded-circle circleButtonSection4 mater " href="https://www.google.fr/"
                               target="_blank"><i class="fab fa-linkedin-in align-middle fontBlue icon"></i></a>
                        </div>
                    </div>
                    {#                <div class="col-md-3"></div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}