{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="https://i.imgur.com/lTKxj2n.png" class="rounded-circle" alt="Students">
        </div>
    </div>
{% endblock %}
