{% extends 'base.html.twig' %}

{% block title %}Edit Passenger{% endblock %}

{% block body %}
    <h1>Edit Passenger</h1>

    {{ include('passenger/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('passenger_index') }}">Retour</a>

    {{ include('passenger/_delete_form.html.twig') }}
{% endblock %}
