{% extends 'base.html.twig' %}

{% block title %}New Passenger{% endblock %}

{% block body %}
    <h1>Create new Passenger</h1>

    {{ include('passenger/_form.html.twig') }}

    <a href="{{ path('passenger_index') }}">Retour</a>
{% endblock %}
