{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="headerError">       
        <a href="{{path('index') }}"><img src="{{ asset('image/Blanc.png') }}" title="source: imgur.com" class="img-fluid logo" alt=""></a>      
    </header>
    <body class="body-error">
        <div class="bg-error">
            <div class="container container-error text-center">
                <h1>{{ messageTitre }}</h1>
                <p>{{ messageErreur }}</p>
            </div>
        </div>
    </body>
   
{% endblock %}
