<form method="post" action="{{ path('car_ride_delete', {'id': car_ride.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car_ride.id) }}">
    <button class="btn">Delete</button>
</form>
