{% extends 'base.html.twig' %}

{% block title %}Edit CarRide{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
        {{ include("navigation/navCarRide.html.twig") }}
    <h1>Edit CarRide</h1>

    {{ include('car_ride/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('car_ride_index') }}">back to list</a>

    {{ include('car_ride/_delete_form.html.twig') }}
    </div>
</header>
{% endblock %}
