{% extends 'base.html.twig' %}

{% block title %}Nouveau trajet{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
<!-- Header -->
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
        {{ include("navigation/navCarRide.html.twig") }}
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h1>Créer un nouveau trajet</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="height: 100px;width: 100px " id="mapid">
                    <script>
                        function initMap() {
                            console.log('Début du script');
                            var mymap = L.map('mapid').setView([47.2305, -1.33], 10);

                            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox/streets-v11',
                                tileSize: 512,
                                zoomOffset: -1,
                                accessToken: 'pk.eyJ1IjoiZ2VvZmZyYXkiLCJhIjoiY2thZTBrMDVtMDl0ZzJ5bnZxZjk3eXNoYiJ9.2cdRl4dFI2m39Yv8mdhfNA'
                            }).addTo(mymap);
                            console.log('Fin du script');
                            var marker = L.marker([47.1, 1.33]).addTo(mymap);
                        }
                        initMap();
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ include('car_ride/_form.html.twig') }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{{ path('car_ride_index') }}">Retour à la liste des trajets</a>
                </div>
            </div>

        </div>
    </div>


</header>
{% endblock %}