{% extends 'base.html.twig' %}

{% block title %}Nouveau trajet{% endblock %}

{% block body %}
<!-- Header -->
<header class="masthead" id="dokiz">
    <div class="container d-flex h-100 align-items-center">
        {{ include("navigation/navCarRide.html.twig") }}
    <h1>Créer un nouveau trajet</h1>

    {{ include('car_ride/_form.html.twig') }}

        <a href="{{ path('car_ride_index') }}">Retour à la liste des trajets</a>
    </div>
</header>
{% endblock %}
