{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} flash">
            <i class="fa fa-times close-flash" aria-hidden="true"></i>
            <div class="alert-{{ label }} alert" role="alert">
            {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
<div class="masthead" style="height: auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <div class="register-top">
                    <h1 class="uppercase">Inscription</h1>                    
                </div>
            </div>
        </div>     
        <div class="row" style="padding-bottom: 15px;">
            <div class="col-sm-8 offset-sm-2 formContainerWhite" style="padding-bottom: 20px;">
               <div class="form-top">
                    <p class="text-center">Bonjour,<br>Merci de saisir les informations ci-dessous afin de
                        compléter votre inscription pour accéder à votre espace personnel de gestion de voiture.</p>
                </div>   
                <div class="form-register">
                   {{ include('register/_form.html.twig') }}
                </div>
                <br><br>
                <p class="text-center small">
                    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Dokiz pour pouvoir vous répondre et assurer un suivi des échanges que nous pourrons avoir avec vous. Ces données ne seront exploitées à aucune autre fin, ni confiés à des tiers.
                    Elles sont conservées pendant 1 an et sont destinées uniquement au service clientèle/partenaires établi à Nantes (44).
                    Conformément à la loi « informatique et libertés » et au RGPD, vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant notre DPO par mail à dpo@dokiz.com. Lire notre Politique sur la Protection de la vie privée.
               </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
