{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }} flash">
            <i class="fa fa-times close-flash" aria-hidden="true"></i>
            <div class="alert-{{ label }} alert" role="alert">
            {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 text-center">
                <div class="register-top">
                    <h1 class="uppercase">Inscription</h1>                    
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-8 offset-sm-2 formContainerWhite">
               <div class="form-top">
                    <p class="text-center">Bonjour,<br>Merci de saisir les informations ci-dessous afin de
                        compléter votre inscription pour accéder à votre espace personnel de gestion de voiture.</p>
                </div>   
                <div class="form-register">
                   {{ include('register/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
