{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="bg-white">
    <div class="container" style="padding-top:50px; padding-bottom:50px;">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <H1>Mentions légales</H1>

                <p>
                DOKIZ<br>
                S.A.S au capital de 200 000 euros <br>
                <br>
                Siège social<br>
                42 route des fleurs <br>
                44000 Nantes <br>
                contact@dokiz.fr<br>
                </p>


                <p>Le site Internet DOKIZ<br>

                Le site Internet DOKIZ est la propriété de la société DOKIZ. <br>

                Il a été conçu et réalisé par DOKIZ.<br>

                Tout Internaute accepte l'ensemble des dispositions de la présente Charte du Site et s'engage à les respecter. L'Internaute s'engage d'ores et déjà à faire des informations contenues sur le site un usage personnel et non commercial. 
                <br>
                Informations sur les produits et les services<br>
                Le Site présente de manière générale la gamme de produits proposés par DOKIZ.<br>
                Les mentions techniques décrivant les produits créés par DOKIZ, l'état des recherches et les perspectives d'emploi des produits sont présentées à titre purement informationnel et non publicitaire. 
                <br>
                Les informations fournies sur le site sont destinées à apporter des suggestions sur le domaine d'application d'un produit de la gamme DOKIZ. 
                DOKIZ se réserve le droit de modifier, à tout moment, les informations figurant sur le Site notamment en cas de modifications des caractéristiques techniques des produits présentés, sans que sa responsabilité puisse être engagée.
                </p>
                <br>
                <h2>Propriété Intellectuelle</h2>
                <p>Le Site constitue une œuvre dont DOKIZ est l'auteur au sens des articles L111.1 et suivants du Code de propriété intellectuelle. 
                Les données, les informations, les images et leurs mises en forme apparaissant sur le Site sont la propriété de DOKIZ, et sont protégées à ce titre par les dispositions du Code de la propriété intellectuelle.
                <br>
                Tout Internaute s'engage à ne pas les utiliser et à ne pas permettre à quiconque d'utiliser ces contenus à des fins illégales. 
                Toute représentation ou reproduction, totale ou partielle, permanente ou temporaire, sur tout support, et par quelque procédé que ce soit (notamment par voie de framing*), de l'un ou l'autre des éléments du Site, sans l'accord préalable et exprès de DOKIZ est interdite, et constitue un acte de contrefaçon, qui pourra entraîner des condamnations civiles et/ou pénales. 
                <br>
                Aucun lien hypertexte vers le Site ne peut être installé sans l'accord préalable et exprès de DOKIZ.  *action de capter le contenu de pages d'un site Internet pour le transférer sur son propre site Internet par le biais d'un lien hypertexte, en faisant apparaître ledit contenu comme le sien. </p>
                <br>
                <h2>Protection des données personnelles</h2>
                <p>L'Internaute peut déposer certaines données personnelles lorsqu'il souhaite poser une question ou poster un commentaire. Les données ainsi déposées sont obligatoires pour que DOKIZ puisse lui répondre. 
                <br>
                DOKIZ se réserve le droit de conserver ces données de manière à proposer, le cas échéant, à l'Internaute, ses offres commerciales. Il est possible que DOKIZ transmette ces données personnelles à des sociétés partenaires. </p>
                <br><br>

                <h2>Résponsabilité</h2>
                <p>DOKIZ décline toute responsabilité quant aux éventuels dysfonctionnements pouvant survenir sur le Site et entraîner une indisponibilité de l'accès aux informations produites sur le Site. 
                <br>
                La présence de liens hypertextes présents sur le Site ne crée pas une solidarité de responsabilité entre DOKIZ  et les propriétaires des autres sites, quant au contenu des sites sur lesquels est redirigé l'Internaute.  DOKIZ ne peut garantir l'exhaustivité des informations présentes sur le Site. De la même manière, DOKIZ ne peut garantir l'absence de modification par un tiers (intrusion, virus). 
                <br>
                En outre, l'Internaute est seul responsable de l'utilisation qu'il fait du contenu du Site. Sauf faute grave exclusive de DOKIZ, sa responsabilité ne peut être engagée pour des dommages directs et indirects liés à l'utilisation des informations produites sur le Site. 
                Loi applicable et Compétence judiciaire 
                <br>
                L'ensemble des informations diffusé sur le Site et l'utilisation qui en est faite sont soumis exclusivement au droit français. Seuls les tribunaux relevant du ressort de la Cour d'appel de Nantes sont compétents pour connaître des éventuels litiges.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
