{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialitée{% endblock %}

{% block body %}
<div class="bg-white">
    <div class="container" style="padding-top:50px; padding-bottom:50px;">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <p>La loi N° 78-17 modifiée dite Loi Informatique et Libertés, et règlemente l’utilisation des informations relatives à une personne physique en France. La société DOKIZ est elle aussi directement impactée par cette législation.

                Cette législation impose des obligations strictes pour le Dirigeant et les employés quant à la collecte et à l’utilisation que pourra être faite des données relatives à une personne physique et donne des droits aux personnes concernées, personnes dont les données ont été collectées, traitées.

                La présente Politique externe relative à la Vie Privée est éditée par la société DOKIZ.<br>

                Elle a pour objectif d’informer les personnes concernées de la manière dont leurs données à caractère personnel sont collectées et traitées par le Responsable de traitement.

                Le cas échéant, le caractère non obligatoire des données que vous pouvez être amenées à renseigner est indiqué sur les formulaires de collecte par un astérisque. A défaut de réponse, la société DOKIZ ne sera pas en mesure de traiter votre demande.</p>
                <br><br>
                <h2>DÉFINITIONS</h2>
                <br>
                <p>« Données à caractère personnel », «catégories particulières de données», «traiter/traitement», «responsable du traitement», «sous-traitant», «personne concernée» ont la même signification que dans le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données ;

                Constitue un « traitement de données à caractère personnel » toute opération ou tout ensemble d’opérations effectuées ou non à l’aide de procédés automatisés et appliquées à des données ou des ensembles de données à caractère personnel, telles que la collecte, l’enregistrement, l’organisation, la structuration, la conservation, l’adaptation ou la modification, l’extraction, la consultation, l’utilisation, la communication par transmission, la diffusion ou toute autre forme de mise à disposition, le rapprochement ou l’interconnexion, la limitation, l’effacement ou la destruction ;

                Un « fichier de données à caractère personnel » s’entend de tout ensemble structuré et stable de données à caractère personnel accessible selon des critères déterminés, que cet ensemble soit centralisé, décentralisé ou réparti de manière fonctionnelle ou géographique;

                Les « Destinataires » désignent toute personne habilitée à recevoir communication des données qu’il s’agisse ou non d’un tiers autres que le Client, le sous-traitant ou les autorités publiques dans le cadre d’une mission d’enquête particulière ;

                Les « Tiers » désignent toute personne placée sous l’autorité directe du responsable de traitement ou du sous-traitant, autorisée à traiter les données à caractère personnel ;</h2>

                <br><br>
                <h2>LES PRINCIPES DE LA REGLEMENTATION SUR LA PROTECTION DES DONNEES</h2>
                <br>
                <p>Il faut que trois conditions soient remplies pour que cette législation s’applique :
                <br>
                Présence d’informations concernant une personne tel que Nom, Adresse, Date Naissance, Matricule, Numéro de téléphone, Identifiant, etc.
                <br>
                Traitement de ces informations tel que la collecte, l’utilisation, l’enregistrement, etc.
                <br>
                Figurant dans des fichiers informatiques (Base de données, excel,..) ou classeurs papiers
                <br>
                Lorsque les dispositions relatives à la Protection des données s’appliquent, les principes sont les suivants :
                <br>

                Finalité déterminée : Les données à caractère personnel ne peuvent être recueillies et traitées que pour un usage défini avant la collecte ;
                <br>
                Finalité explicité : les finalités sont compréhensibles par tous et portées à la connaissance des personnes concernées ;
                <br>
                Finalité légitime : l’intérêt du responsable de traitement ne doit pas aller à l’encontre de celui de la personne concernée. Les finalités du traitement ne doivent pas aller à l’encontre de la loi ni des droits et libertés fondamentales des personnes ;
                <br>
                Minimisation des données : Les données collectées doivent être nécessaires à la bonne marche du traitement. De manière générale elles doivent être proportionnelles à la finalité que poursuit le traitement ;
                <br>
                Durée de conservation limitée : les informations ne peuvent être conservées au-delà de la réalisation de la finalité ;
                <br>
                Accès restreint aux données : Les données doivent être traitées d’une manière confidentielle et doivent uniquement être divulguées aux personnes habilitées à en prendre connaissance dans le cadre de leurs missions ;
                <br>
                Sécurité physique et logique : Compte tenu de l’état des connaissances, des coûts de mise en œuvre et de la nature, de la portée, du contexte et des finalités du traitement ainsi que des risques, dont le degré de probabilité et de gravité varie, pour les droits et libertés des personnes physiques, le responsable du traitement et le sous-traitant mettent en œuvre les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité adapté au risque, y compris entre autres, selon les besoins
                <br>
                Obligation d’information : Les personnes doivent être informées de l’existence d’une collecte de données les concernant (identité du responsable du traitement, finalité poursuivie, caractère obligatoire ou facultatif des réponses et conséquences éventuelles d’un défaut de réponse, destinataires, droits des personnes et comment les exercer, et, le cas échéant, des transferts de données à caractère personnel envisagés à destination d’un État non membre de la Communauté européenne) ;
                <br>
                Droit des personnes : Les personnes disposent de droits issus de cette loi et peuvent demander à avoir accès, de rectifier éventuellement de supprimer ou s’opposer dans certains cas à ce que les données fassent l’objet d’un traitement ;
                <br>
                Transfert de données hors Union Européenne : par principe, tout transfert de donnée hors de l’Union Européenne est interdit.</p>
                <br><br>
                <h2>OBJET DE LA PROCÉDURE</h2>
                <br>
                <p>La présente procédure a pour objectif d’informer les Personnes concernées de la manière dont leurs données à caractère personnel sont collectées et traitées par le Responsable de traitement.
                <br>
                Elle permet également de définir et garantir les rôles et responsabilités de chacun des acteurs impliqués dans la mise en œuvre de traitements ainsi que les grands principes de protection des données applicables. En outre, la société DOKIZ  communique la présente à des fins de transparence sur les traitements mis en œuvre.</p>
                <br><br>
                <h2>PÉRIMÈTRE</h2>
                <br>
                <p>Cette procédure s’applique à tout collaborateur de la société DOKIZ ainsi qu’à toute personne, physique ou morale, qui serait amenée à traiter des données à caractère personnel pour le compte de la société DOKIZ.
                <br>
                La procédure est diffusée auprès de toute personne extérieure concernée par les traitements de données à caractère personnel mis en œuvre par les collaborateurs de la société DOKIZ  ou par toute personne ayant légitimement accès aux ressources informatiques de la société DOKIZ.</p>
                <br><br>
                <h2>IDENTIFICATION DU RESPONSABLE DE TRAITEMENT</h2>
                <br>
                <p>Conformément aux obligations issues de la loi N°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, vous trouverez ces informations sous la rubrique mentions légales.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}