<form method="post" action="{{ path('car_ride_delete', {'id': car_ride.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer ce trajet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car_ride.id) }}">
    <button class="btn">Supprimer</button>
</form>
