{% extends 'base.html.twig' %}

{% block title %}Edit KeyBox{% endblock %}

{% block body %}
    <h1>Edit KeyBox</h1>

    {{ include('key_box/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('key_box_index') }}">back to list</a>

    {{ include('key_box/_delete_form.html.twig') }}
{% endblock %}
